<h2>BodyWeight Log</h2>

<ul>
  <li>{{#link-to 'exercises'}}Exercises{{/link-to}}
      <ul>
        <li>{{#link-to 'exercises.new'}}New Exercise{{/link-to}}</li>
      </ul>
  </li>
  <li>{{#link-to 'routines'}}Routines{{/link-to}}
      <ul>
        <li>{{#link-to 'routines.new'}}New Routine{{/link-to}}</li>
      </ul>
  </li>
</ul>

{{outlet}}
