<h2>BodyWeight Log</h2>

<ul>
  <li>{{#link-to 'exercises'}}Exercises{{/link-to}}
      <ul><li>
        {{#link-to 'exercises.new'}}Add Exercise{{/link-to}}
      </li></ul>
  </li>
</ul>

{{outlet}}
