<h1>Exercises</h1>

{{outlet}}

<table>
  <tr>
    <td>Name</td>
    <td>Type</td>
  </tr>
  {{#each exercises as |exercise|}}
    <tr>
      <td>{{#link-to 'exercises.show' exercise.id}}{{exercise.name}}{{/link-to}}</td>
      <td>{{exercise.type}}</td>
    </tr>
  {{/each}}
</table>
