<h3>{{model.name}}</h3>
<button>{{#link-to 'exercises.edit' model.id}}Edit{{/link-to}}</button>
<button {{action 'delete'}}>Delete</button>

<p>TODO: Add Youtube Embed</p>

<b>{{model.type}}</b> {{#if model.description}}- {{model.description}}{{/if}}

<p>TODO: Add Amazon Embeds</p>
